<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
   
   
    
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <button type="button" class="btn btn-primary"><a href="/users/login">Login</a></button>
    <button type="button" class="btn btn-primary"><a href="/users/signup">Signup</a></button>
  </body>
</html>
