<html>
    <head>
        <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
        <link rel='stylesheet' href='/stylesheets/login.css' />
        <link rel='stylesheet' href='/stylesheets/tooltips.css' />
        <script src="/javascripts/tooltips.js"></script>
    </head>
    <body>
        
        <div class = "container">
                <div class="wrapper">
                   
                     <form  method="post" name="Login_Form" class="form-signin" id="myform"> 

                        <% if ( success_msg.length > 0 ) { %>
                            <p>Message: <%=success_msg %> </p>
                        <% } %>

                        <% if ( credentialreq.length > 0 ) { %>
                            <p>Message: <%=credentialreq %> </p>
                        <% } %>

                        <h3 class="form-signin-heading">Welcome Back! Please  LogIn</h3>
                        <hr class="colorgraph"><br>
                        
                        <input type="text" class="form-control" name="Username" placeholder="Username" required="" autofocus="" title="Enter Email-ID" />
                        <input type="password" class="form-control" name="Password" placeholder="Password" required="" title="Enter Password" />     		  
                        
                        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
                    </form>			
                </div>
             </div>
    </body>
</html>